.calendar {
  .picky-date-time.visible {
    margin-top: 50px;
    margin-bottom: 35px;
    width: 1000px;
  }
  .picky-date-time-calendar__header {
    width: 800px;
  }
  .picky-date-time-calendar__table {
    width: 900px;
  }
  .picky-date-time-calendar__table.slide {
    height: 455px;
  }
}
